<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <add name="Reports.Properties.Settings.OrderManagerDBConnectionString"
     connectionString="Data Source=User-PC;Initial Catalog=OrderManagerDB;Persist Security Info=True;User ID=sa;Password=password;Pooling=False"
     providerName="System.Data.SqlClient" />
</configuration>