<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
  <add name="OrderManagerDBEntities" connectionString="metadata=res://*/DatabaseModel.OrderManagerModel.csdl|res://*/DatabaseModel.OrderManagerModel.ssdl|res://*/DatabaseModel.OrderManagerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USER-PC;initial catalog=OrderManagerDB;persist security info=True;user id=sa;password=password;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>