<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="OrderManagerDBEntities" connectionString="metadata=res://*/DatabaseModel.OrderManagerModel.csdl|res://*/DatabaseModel.OrderManagerModel.ssdl|res://*/DatabaseModel.OrderManagerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Venkatesh-PC\SQLEXPRESS;initial catalog=OrderManagerDB;persist security info=True;user id=sa;password=password00s;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ordermanager.Properties.Settings.OrderManagerDBConnectionString"
      connectionString="Data Source=Venkatesh-PC\SQLEXPRESS;Initial Catalog=OrderManagerDB;Persist Security Info=True;User ID=sa;Password=password;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>