<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OrderManagerDBEntities" connectionString="metadata=res://*/DatabaseModel.OrderManagerModel.csdl|res://*/DatabaseModel.OrderManagerModel.ssdl|res://*/DatabaseModel.OrderManagerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Server\SQLEXPRESS;initial catalog=OrderManagerDB;persist security info=True;user id=sa;password=Orange00s!@#;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Reports.Properties.Settings.OrderManagerDBConnectionString"
      connectionString="Data Source=Server\SQLEXPRESS;Initial Catalog=OrderManagerDB;Persist Security Info=True;User ID=sa;Password=Orange00s!@#;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>